shayLearyALL/CAMPUS TOUR/.vs/
shayLearyALL/CAMPUS TOUR/Debug/
shayLearyALL/CAMPUS TOUR/Release/
*.obj
*.vscode
*.tlog
shayLearyALL/CAMPUS TOUR/.vs/shaysWorld/v16/.suo
shayLearyALL/CAMPUS TOUR/.vs/shaysWorld/v16/ipch/AutoPCH/4bee5a48d0da6a91/MAIN.ipch
shayLearyALL/CAMPUS TOUR/.vs/shaysWorld/v16/TestStore/0/000.testlog
shayLearyALL/CAMPUS TOUR/.vs/shaysWorld/v16/ipch/AutoPCH/4bee5a48d0da6a91/MAIN.ipch
*.ipch
