'shayLearyALL/CAMPUS TOUR/.vs'
'shayLearyALL/CAMPUS TOUR/Debug/**'
shayLearyALL/CAMPUS TOUR/.vs/shaysWorld/v16/.suo
shayLearyALL/CAMPUS TOUR/.vs/shaysWorld/v16/Browse.VC.db
shayLearyALL/CAMPUS TOUR/.vs/shaysWorld/v16/TestStore/0/000.testlog
shayLearyALL/CAMPUS TOUR/Debug/main.obj
shayLearyALL/CAMPUS TOUR/Debug/shaysWorld.log
shayLearyALL/CAMPUS TOUR/Debug/shaysWorld.pdb
shayLearyALL/CAMPUS TOUR/Debug/shaysWorld.tlog/CL.command.1.tlog
shayLearyALL/CAMPUS TOUR/Debug/shaysWorld.tlog/CL.read.1.tlog
shayLearyALL/CAMPUS TOUR/Debug/shaysWorld.tlog/CL.write.1.tlog
shayLearyALL/CAMPUS TOUR/Debug/shaysWorld.tlog/link.write.1.tlog
shayLearyALL/CAMPUS TOUR/Debug/vc142.pdb
